[user]
	email = tyler.c.keller@gmail.com
	name = Tyler Keller
	signingkey = F8FBC0A02001CEEB
[alias]
	acp = "!f() { git add -A && git commit -m \"${@:-update}\" && git push origin HEAD; }; f"
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[core]
	excludesfile = /home/tyler/.config/git/ignore
